body {
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
}

.section-a {
  height: 4.5rem;
  line-height: 4.5rem;
}

.section-b {
  height: 9rem;
  line-height: 9rem;
}

.section-c,
.section-d {
  height: 8rem;
  line-height: 8rem;
}

.section-ef,
.section-gh {
  width: 100%;
  height: 15.5rem;
  line-height: 15.5rem;
  display: flex;
  flex-direction: row;
}

.div-e,
.div-f,
.div-g,
.div-h {
  width: 50%;
}

.section-i {
  height: 5rem;
  line-height: 5rem;
}
