.section-a {
    height: 75px;
    width: 480px;
    line-height: 75px;
}

.section-b {
    height: 150px;
    width: 480px;
    line-height: 150px;
}

.section-c,
.section-d {
    height: 125px;
    width: 480px;
    line-height: 125px;
}

.section-ef,
.section-gh {
    height: 250px;
    width: 480px;
    line-height: 250px;
}

.div-e,
.div-f,
.div-g,
.giv-h {
    float: left;
    height: 250px;
    width: 50%;
    line-height: 250px;
}

.div-f,
.div-h {
    border-top: none;
}

.section-i {
    height: 80px;
    width: 480px;
    line-height: 80px;
    border-bottom: solid 1px black;
}

@media (min-width: 768px) {
    body {
        width: 960px;
        margin: auto;
    }

    .section-a {
        height: 100px;
        width: 100%;
        line-height: 100px;
    }

    .section-b {
        float: left;
        height: 600px;
        width: 200px;
        line-height: 600px;
        border-right: none;
    }

    .section-c,
    .section-d {
        float: left;
        height: 200px;
        width: 380px;
        line-height: 200px;
    }

    .section-c,
    .section-ef {
        border-right: none;
    }

    .section-ef,
    .section-gh {
        float: left;
        width: 380px;
        height: 250px;
        line-height: 250px;
    }

    .div-e,
    .div-f,
    .div-g,
    .div-h {
        float: left;
        height: 250px;
        width: 50%;
        line-height: 250px;
    }

    .div-e,
    .div-g {
        border: none;
    }

    .div-f,
    .div-h {
        border-right: none;
    }

    .section-i {
        float: left;
        height: 150px;
        width: 760px;
        line-height: 150px;
    }
}